# Neon PostgreSQL Connection URL
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Auth Secret (genera uno seguro para producción)
JWT_SECRET="super-secret-key-change-this-in-production-min-32-chars-long"

# Seed Admin Credentials (utilizados al ejecutar npm run db:seed)
ADMIN_NAME="Administrador"
ADMIN_EMAIL="admin@ejemplo.com"
ADMIN_PASSWORD="AdminPassword123!"
